body {
    font-size: 2em;
    padding: 1em;
}

span {
    display: list-item;
}

ul,
ol {
    border: 1px solid #000;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style-position: inside;
}

li {
    border: 1px solid red;
    margin-bottom: 10px;
    padding-left: 1em;
}