.container {
    display: flex;
    width: 500px;
    background-color: lime;
}

.item {
    background-color: yellow;
    width: 100px;
    flex-basis: 30px;
}

.item:nth-child(even) {
    background-color: rebeccapurple;
}