body {
    font-size: 2em;
    margin: 1em;
}

h1::before {
    content: '¿';
}

h1::after {
    content: '?';
}

p {
    border: 1px solid black;
}

p::before {
    content: url('https://ed.team/static/images/logo.svg');
    color: red;
    display: block;
    font-size: .5em;
    background-color: #ccc;
}